<h1>This is all about us</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h3>
      	Address
      </h3>
      <address>
      	51 Liverpool Road, Luton
      </address>
    </div>
    <div class="col-xs-9">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2481.824166306601!2d-0.10959818410518234!3d51.53478481652141!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b4295221dc9%3A0x8435fd7a0fd47974!2s51+Liverpool+Rd%2C+London!5e0!3m2!1sen!2suk!4v1469434650542" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>